*{
    margin:0;
    padding:0;
    font-family: 'Source Sans Pro', sans-serif;
}
.lightbluisbordr{
    border: #D9EEE1;
}
.yellowborder{
    border: #FFF4A3;
    
}
.lightblueborder{
    border: #96D4D4;
    
}
.darkborder{
    border: rgb(34, 33, 33);
    
}
.lightskyborder{
    border: #F3ECEA;

}
.pinkis{
    background-color: #FFC0C7 !important;
    color: black;
}
.yellowis{
    background-color: #FFF4A3 !important;
    color: black;
}
.lightblueis{
    background-color: #D9EEE1 !important;
    color: black;
    
}
.lightblue{
    background-color: #96D4D4 !important;
    color: black;
    
}
.lightskyblue{
    background-color: #F3ECEA !important;
    color: black;
}
span,p{
    word-wrap: break-word;
}
/* --------------------------navbarsection-------------------------------------- */


section{
    width: 100%;
}
.nav{
    position: relative;
    /* top: 0; */
    width: min-content;
    display: flex;
    flex-direction: row;
justify-content: space-between;
}
nav a{
    /* padding: .3rem; */
    width: max-content;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* margin: 2.1px; */
}
.nav a img{
    width: 35px;
    height: 37px;
    padding:1rem 1.5rem;
    margin: auto;
}
.nav ul{
    display: flex;
    flex-direction: row;
}
.nav ul li{
    list-style: none;
}
/* #navul1 li{
    justify-content: center;
    align-items: center;
    padding: .5rem;
} */
/* -------------first list-------- */

#navul1 a{
    color:black;
    font-weight: bold;
    /* margin:auto; */
    padding: 27px 13px;
    display: block;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-right: .1rem; */
}
/* #navul1 a li{
    margin: auto;
} */

#menu{
    display: none !important;
    color:black;
    font-weight: bold;
    /* margin:auto; */
    padding: 27px 13px;
    /* display: block; */
    font-size: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#navul1 a:hover{
    background-color: green;
    color: white;
}
/* ----------------second list--------------- */

#navul2{
    /* margin-right: 0px; */
    /* position: fixed; */
    margin: auto 1rem;
    float: right;
    display: inline;
    justify-content: flex-end;
}
#navul2 ul a{
    margin: auto 8px;
}
#navul2 ul a i{
    font-size: large;
    color: black;
}
#navul2 div{
    display: flex;
    flex-direction: row;
    margin: auto 4px;
    margin-right: -1rem;
}
#navul2 ul  div a{
    margin: auto 11px;
    width: fit-content;
    display: flex;
flex-direction: row;
}
/* #navul2 div{
    box-sizing: border-box;
    padding: 1px;
    display: flex;
    flex-direction: row;
    margin-right: 5px;

}
#navul2 div a{
    border-radius: 25px;
    margin: 5px;
    
    /* border: 1px solid black; */

/* -----------------------------------nav end----------------------------------------- */

/* --------------------learn to code and intro to website section--------------- */


.intro{
    position: relative;
    height: 74vh;
    /* margin-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(34, 30, 39);
    color: white;
    /* border-bottom: 1px solid black; */

}

.intro h1{
    margin: 8px auto;
    margin-top: 29px;
}
.intro span{
    margin: 25px auto;
    position: relative;
    font-size: 21px;
    font-weight: bold;
}
.intro>span:first-child{
    font-size: 30px;
}
.intro span a{
    margin-top: 30px;
}
.intro h1{
    font-size: 64px;
    font-weight: 700;
}
.intro div input{
    width: 23rem;
    height: 126%;
    border: rgb(34, 30, 39);
    border-right: green;
    /* border-left: 1px solid white; */
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    margin: 9px auto;
    padding-left: 15px;
    color: rgb(82, 79, 79);
    font-size: 15px;
}
.intro div button{
    width: 6rem;
    height: 126%;
    /* border-left: 1px  green; */
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    background-color: green;
    color: white;
    margin: 9px 0;
    border: rgb(34, 30, 39);
    border-left: green;
}
.intro div button i{
    font-size: 15px;
}
.intro div{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

/* -----------------------------------intro section end----------------- */

/* ----------------------some courses with thier example section --------*/

.courses, .course,.cours{
    position: relative;
    height: max-content;
}
.courses{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.course{
    /* display: grid;
    /* flex-direction: row; */
    /* grid-template-columns: 1fr 1fr; */ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cours{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: max-content; */
    margin: 5rem;
    /* padding: 1rem; */
    /* height: 10vh; */
    /* border: 2px solid black; */
}
.cours h1{
    font-size: 80px;
    font-weight: 700px;
    /* font-weight: bold; */
    margin: 8px;
    margin-bottom: 25px;
}
.cours span{
    font-size: 21px;
    font-weight: bold;
}
.cours button,.cours span{
    margin: 14px auto;
}
.cours button{
    /* text-decoration: none; */
    /* display: block; */
    /* border: 1px solid black; */
    width: 14rem;
    height: 3.5em;
    margin: 8px auto;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    /* padding: auto; */
}
.cours button a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    /* font-style: oblique; */
}

/* --------------------------------------course example section---------------- */

.example{
    display: flex;
    flex-direction: column;
    /* width: max-content; */
    align-items: flex-start;
    justify-content: left;
    margin: 4rem;
    width: 50%;
    padding: 1rem;
    border: 1px solid rgb(231 233 235 / 0%);
    background-color: rgb(196, 218, 240);
    box-shadow: 5px 5px 5px 5px rgb(158, 157, 157);
    border-radius: 10px;
    color: black;
}
.example h2{
    font-size: large;
    margin-top: 23px;
    margin-bottom: 10px;
}
.example div{
    height: 15em;
    width: 35vw;
    border-left: 4px solid green;
    /* border: 1px solid red; */
    margin: 4px;padding: .8rem;
    background-color: white;
}
.example button{
    /* text-decoration: none; */
    /* display: block; */
    background-color: #04AA6D;
    /* color: white; */
    border: 1px solid rgb(196, 218, 240);
    width: 16rem;
    height: 4em;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    /* padding: auto; */
    margin-top: 10px;

}
.example button a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
}
.example div *{
    word-spacing: 4px;
    font-family: Consolas,Menlo,"courier new",monospace;;
}

.green{
    background-color: #04AA6D;
    color: rgb(250, 245, 245);
    
}
.yell{
    background-color: #FFF4A3;
    color: black;
}
.dark{
    background-color: rgb(34, 33, 33);
    color: white;
}
.pink{
    background-color: #FFC0C7;
    color: black;
}

/* ---------------------------course with example section end---------------- */

/* -----------------------------multiple course box section---------------- */

.othercrs{
    position: relative;
    background-color: rgb(39, 32, 32)
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    /* justify-content: space-between; */
    align-items: center;
}
.main div{
    width: 45vw;
    height: 16em;
    /* border: 1px solid red; */
    margin:auto;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(160, 160, 209);
}
.othercrs .main div h1,.othercrs .two div h1,.othercrs .many div h1,.othercrs .four div h1{
    font-size: 35px;
    margin:5px;
}
.main div span{
    /* font-size: large; */
    margin: 20px;
    word-wrap:break-word;
    word-break: break-all;
    justify-content: center;
}
.main div button{
    width: 12rem;
    height: 3.3em;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #292836;
    border-radius: 25px;
    border: rgb(160, 160, 209);
}
.main div button a{
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bold;
}
.two{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    /* justify-content: space-between; */
    align-items: center;
}
.two div{
    width: 43vw;
    height: 9em;
    /* border: 1px solid red; */
    margin:auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(199, 176, 143);
}
.four{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    /* justify-content: space-between; */
    align-items: center;
}
.four div{
    width: 44vw;
    height: 6em;
    /* border: 1px solid red; */
    margin:auto;
    margin-top: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-radius: 20px; */
    background-color: rgb(189, 247, 232);
}
.many{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1rem;
    /* justify-content: space-between; */
    align-items: center;
}
.many div{
    width: 20vw;
    height: 7em;
    /* border: 1px solid red; */
    margin: 23px auto;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border-radius: 20px; */
    background-color: rgb(227, 243, 156);
}
.many div h2,.four div h2,.two div h2{
    text-align: center;
    font-size: 30px;
    margin: auto;
}

/* ---------------------------course box section end---------------------- */

/* -----------------------------section having codeedit starts-------------------- */

.codeedit{
    position: relative;
    background-color: rgb(39, 32, 32);
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.codeedit h1{
    margin: auto;
    margin-top: 75px;
    font-size: 50px;
    align-items: center;
    justify-content: center;
}
.codeedit span{
    margin: auto;
    margin-top: 30px;
    font-size: larger;
    color: rgb(253, 151, 151);
}
.codeedit div{
    width: 70%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}
.codeedit div img{
    /* max-width: 1000px; */
    width: 100%;
    height: 40vw;
    margin: 1rem auto;
    text-align: center;
}
.codeedit div #frnt{
    height: 3.5em;
    width: 20rem;
    background-color: green;
    color: white;
    left:1;
    border: rgb(24, 21, 21);
    margin: .5rem;
    border-radius: 5px;
    font-size: large;
    text-align: center;
}
#frnt a,#bked a{
    color: white;
    text-decoration: none;
    word-wrap: break-word;
}
#bked a{
    text-align: center;
    margin-left:-50px ;
    word-wrap: break-word;
}
.codeedit div #bked{
    height: 3.5em;
    width: 23rem;
    background-color: rgb(206, 148, 40);
    color: black;
    left:1;
    border: rgb(24, 21, 21);
    font-size: large;
    margin: .5rem;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
    
}

/* -------------------------------codeedit section end----------------- */

/* ---------------------------how it work section-------------------------- */

.howitworks{
    position: relative;
    background-color: rgb(46, 48, 59);
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.howitworks h1{
    margin: auto;
    margin-top: 30px;
    font-size: 50px;
    align-items: center;
    justify-content: center;
}
.howitworks span{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: larger;
    color: rgb(245, 239, 239);
}
.howitworks #img1{
    max-width: 1200px;
    width: 100%;
    height: 90vh;
    margin: 1rem;
    text-align: center;
}
.howitworks #img2{
    width: 85vw;
    height: 90vh;
    margin: 1rem;
}
.howitworks #btn{
    height: 52px;
    width: 17rem;
    background-color: rgb(1 181 106);
    color: white;
    left:1;
    border: rgb(46, 48, 59);
    margin: .5rem;
    border-radius: 25px;
    font-size: large;
    margin-bottom: 4rem;
}
#btn a{
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

/* --------------------------------how it work section end-------------------- */

/* ------------------------------------mylearning section------------------------- */

.mylearning{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: rgb(218 241 227);
}
.mylearning h1{
    margin: 2.5rem auto;
    font-size: 65px;
    font-weight: 700;
}
.mylearning h3{
    margin: .5rem auto;
}
.mylearning img{
    width: 75vw;
    margin: 1rem auto;
    height: 30rem;
}
.mylearning button{
    justify-content: center;
    align-items: center;
    background-color: rgb(0 184 107);
    color: white;
    width: 15rem;
    height: 4em;
    margin: 1rem auto;
    border-radius: 25px;
    border: rgb(218 241 227);
    margin-bottom: 6rem;
    
}
.mylearning button a{
    align-items: center;
    background-color: rgb(0 184 107);
    color: white;
    font-size: 20px;
    text-decoration: none;
    /* background-color: ; */
}

/* ---------------------------------mylearning section end---------------- */

/* ---------------------------prouser section------------------- */


.prouser{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: rgb(41 40 54);
    color: white;
}
.prouser h1{
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-size: 46px;
    font-weight: 700;
    color: white;
    
    
}
.prouser h3{
    margin: .5rem auto;
    font-size: 25px;
    color: rgb(250, 199, 199);
}
.prouser div{
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 1.5rem;
    float: inherit;
    padding-left: 5rem;
}
.prouser p{
    margin: .5rem;
    text-align: left;
    align-items:center;
    justify-content:left;
    font-size: 20px;
    font-weight: bold;
    /* word-spacing: 1px; */
}
.prouser div p i{
    margin-right: .5rem;
}
.prouser button{
    justify-content: center;
    align-items: center;
    background-color: rgb(0 184 107);
    color: white;
    width: 15rem;
    height: 4em;
    margin: 3rem auto;
    border-radius: 25px;
    border: rgb(41 40 54);
    margin-bottom: 5rem;
    
}
.prouser button a{
    align-items: center;
    background-color: rgb(0 184 107/0%);
    color: white;
    font-size: 20px;
    text-decoration: none;
    /* background-color: ; */
}
.prouser button:hover,.prouser button:hover a,.mylearning button:hover,.mylearning button:hover a,#btn:hover,#btn:hover a{
    background-color: rgb(2, 131, 77);

}

/* -------------------------------------pro user section end------------- */

/* ------------------------------------color picker section---------------- */

.colorpick{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f4ecea;
    color:black;
    position: relative;
    display: flex;
    flex-direction: column;
}
.colorpick h1{
    margin: auto;
    margin-top: 6rem;
    font-size: 60px;
    font-weight: 900;
}
.colorpick h3{
    margin: 1rem;

}
.colorpick img{
    margin-top: 1rem;
    margin-bottom: 5rem;
}
.computer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* -----------------------------------color picker section end----------------- */

/* ----------------------------------------how to section having computer------------ */

.howto{
    position: relative;
    display:flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.howto h1{
    font-size: 60px;
    font-weight: 700;
    margin: 3rem auto;
    margin-bottom: 2rem;
    word-spacing: normals;
}
.howto h3{
    margin: 1.5rem;
    margin-top: 0rem;
}
.howto span{
    margin: 2rem;
    margin-top: 0rem;
    font-weight: bold;
}
/* ---------------------computer starts------------------- */
.howto .urlhead{
    width: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .6rem;
    background-color: rgb(160, 211, 211);
}
.howto .urlhead>div:first-child{
    align-self: flex-start;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.howto .urlhead>div:last-child{
    align-self: flex-end;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.howto .urlhead>div:first-child span{
    /* align-self: flex-start; */
    margin: 5px;
    display: inline-block;
    box-sizing: border-box;
    background-color: black;
    border-radius: 50px;
    width: 15px;
    height: 15px;
}
.howto .urlhead>div:last-child input{
    margin: 5px auto;
    height: 15px;
    width: 70%;
    display: flex;
    align-self: center;
    /* float: right; */
}

iframe{
    width: 50rem;
    height: 25rem;
    padding: .6rem;
    padding-top: 0rem;
    background-color: rgb(160, 211, 211);
}
.computerbottom{
    height: 4.5rem;
    width: 3rem;
    /* display: inline-block; */
    background-color: rgb(41 40 54);
}
.computer a{
    box-sizing: border-box;
    width: 28rem;
    height: 3.8rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(41 40 54);
    color: white;
    border-radius: 25px;
    text-decoration: none;
    display: flex;
    margin-bottom: 3.5rem;
}
.computer a li{
    margin: auto;
    color: white;
    font-weight: bold;
    font-size: 19px;
    list-style: none;
    
}
.computer a:hover{
    background-color: rgb(61, 104, 61);
}

/* --------------------------------how to with computer section end---------------- */

/* --------------------------------------footer starts------------------------------ */

footer{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #292836;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.links{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 width: 100%;
 margin-top: 1.5rem;
}
/* .links ul{
    
} */
.link{
    justify-self: flex-start;
}
.links .link ul{
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
.links .link ul a{
    box-sizing: border-box;
    text-align: center;
    display: block;
    padding: 1.2rem auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: white;
    color: black;
    width:max-content;
    margin: 1rem .3rem;
    height: 2.8rem;
    border-radius: 5px;
    text-decoration: none;
}
.links .link a li{
    text-align: center;
    justify-self: center;
    margin: auto;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 15px;
    padding: .8rem .7rem;
    list-style: none;
}
.link2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}
.links .link2 ul{
    display: flex;
    float: right;
    flex-direction: row;
    /* justify-content: flex-end; */
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.link2 ul a{
    list-style: none;
    text-align: center;
    align-self: center;
    display: block;
    /* margin: auto 1rem; */
    padding: .1rem .4rem;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin: 1.5rem;
    margin-right: 2rem;
}
.social ul{
    align-items: flex-end;
    float: right;
    justify-content: flex-end;
    /* margin: auto; */
    display: flex;
    flex-direction: row;
    list-style: none;
}
.social ul a{
    display: block;
    margin: auto 1rem;

}
.social ul a li i{
    font-size: larger;
    color: beige;
}
.cprights{
    margin: 1rem 0;
}
footer p{
    text-align: center;
    font-size: 13.4px;
    /* margin: .3rem; */
    /* letter-spacing: 1px; */
    /* word-spacing: 1px; */
    word-wrap: break-word;
    font-weight: bold;
    /* line-gap-override: 1px; */
    /* margin-top: 1.2em; */
    /* margin-bottom: 1.2em; */
    line-height: 1.5;
}
.thumb{
    margin: 1.5rem;

}
.thumb i{
    font-size: xx-large;
    color: white;
}


/* ------------------------------------------footer ends--------------------------- */

/* -----------------------------------------Responsive Section---------------------------- */


@media screen and (max-width: 1200px){
    .courses .course .cours h1{
        font-size: 80px;
    }
    .courses .course .cours h1.javascript{
        font-size: 70px;
    }
    #navul1 .getcert,#navul2 div .getcert{
        display: none;
        
    }
    .link ul #lastfoot .news{
        display: none;
    }
    .codeedit h1, .codeedit span{
        margin:1rem
    }
    .codeedit div{
        margin: 1rem;
        width: 90%;
    }
    .howitworks #img1{
        height: 55vw;
    }
    .course .cours,.course .example{
        margin: 3rem;
    }
}




@media screen and (max-width: 1000px){
    #navul2 div #crwt{
        display: none;
        
    }
    .courses .course{
        flex-direction: column;
    }
   .course .cours{
    width: 80%;
   }
   .course .example{
    width: 80%;
   }
    .link ul #lastfoot .news{
        display: none;
    }
    .courses .course .example div{
        width: 88%;
    }
    .links{
        flex-direction: column;
    }
    .links .link{
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .links .link ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer>.links>.link>ul>#lastfoot{
        flex-direction: column !important;
    }
    .howto .urlhead, .howto iframe{
        /* margin: auto 50px; */
        width: 95%;
        /* height: 20rem; */
    }
    .howto iframe{
        height: 20rem;
    }
    .links .link ul div:first-child a{
        margin: 1rem .1rem;
    }
    .links .link ul div:first-child a li{
        padding: .8rem .4rem;
    }
    .links .link ul div:last-child a{
        margin: .5rem 0;
        width: 100%;
    }
    .links .link ul div:last-child{
        margin: auto;
        width: 100% !important;
    }
    .links .link2{
        margin-top: 1rem;
    }
    .main{
        grid-template-columns: 1fr;
    }
    .two{
        grid-template-columns: 1fr;
    }
    .many{
        grid-template-columns: 1fr 1fr;
    }
    .four{
        grid-template-columns: 1fr;
    }
    .many div,.four div,.two div,.main div{
        width: 95%;
        border-radius: 4px;
    }
    .many div{
        margin: 8px auto;
    }
    .many{
        margin: 5px;
        padding: 1rem 1rem;
    }
    .howitworks .howhide{
        display: none;
    }
    .mylearning img{
        height: 50vw;
        width: 90vw;
        margin: 1rem;
    }
    .two,.four,.main{
        margin: 0;
        padding: .5rem 1rem;
    }
}





@media screen and (max-width:900px) {
    .howto iframe{
        height: 18rem;
    }
    footer .links .link ul #lastfoot .news{
        display: block !important;
    }
    .howto .computer a{
        width: 40vw;
    }
    .prouser div{
        padding-left: 2rem;
    }
    /* .main div{
        /* width: 40vw; */
    .four div,.two div,.main div{
        width: 100%;
        border-radius: 4px;
    }
    .two,.four,.main{
        margin: 0;
        padding: .5rem 1rem;
    }
}





@media screen and (max-width:850px) {
    #navul1 a{
        display: none;
    }
    #navul1 #menu{
        display: block !important; 
    }
    .intro h1{
        font-size: 55px;
    }
    .courses .course .cours h1{
        font-size: 70px;
    }
    .intro span:first-child{
        word-wrap: break-word;
        text-align: center;word-break: break-all;
    }
    .intro div input{
        width: 50vw;
        word-wrap: break-word;
        word-break: break-all;
    }

    .intro div button{
        width: 15vw;
    }
    .howto iframe{
        height: 16rem;
    }
    .mylearning h1{
        font-size: 58px;
    }
}






@media screen and (max-width: 600px){
    .intro{
        height: 65vh;
    }
    .intro h1,.intro div,.intro span{
        margin: 15px 30px;
    }
    .intro span:last-child{
        margin-top: 40px;
    }
    .intro h1{
        font-size: 46px;
    }
    .intro div input{
        width: 60vw;
        word-wrap: break-word;
        word-break: break-all;
    }

    .intro div button{
        width: 17vw;
    }
    .courses .course .example div{
        display: none;
    }
    #navul2 #dark{
        display: none;
    }
    .example{
        display: none;
    }
    .how h1,.howto h3,.howto span{
        word-wrap: break-word;
        /* word-break: break-all; */
    }
    .howto iframe{
        height: 14rem;
    }
    .howto .computer a{
        width: 80%;
    }
    .many{
        grid-template-columns: 1fr;
    }
    .many div,.four div,.two div,.main div{
        width: 100%;
        border-radius: 4px;
    }
    .many,.two,.four,.main{
        margin: 0;
        padding: .5rem 1rem;
    }
    .many,.four{
        padding: 0 1rem;
    }
    .two div{
        height: 7em;
    }
    .codeedit div #frnt,.codeedit div #bked{
        width: 100%;
        margin: 1rem auto;
        height: 3.5rem;
        font-size: large;
        word-wrap: break-word;
    }
    codeedit div #frnt a,.codeedit div #bked a{
        margin: auto;
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        text-align: center;
        width: 100%;
    }
    .main div{
        width: 94%;
        margin: .5rem 0;
        
    }
    .four div{
        height: 7em;
        margin-bottom: 10px;
    }
    .four{
        padding-bottom: 30px;
    }
    .codeedit{
        padding-top: 10px ;
    }
}





@media screen and (max-width:400px) {
    .nav{
        justify-content: space-evenly;
    }
    #navul2{
        margin: auto .3rem,
    }
    #navul2 .hide{
        display: none;
    }
    .nav #navul2 ul div #login{
        width: 5.5rem;
    }
    .howto iframe{
        height: 12rem;
    }
    .links .link ul div:first-child{
        flex-wrap: wrap;
    }
    .links .link ul #lastfoot a{
        width: 84vw;
    }
    .courses .course .cours h1{
        font-size: 50px;
    }
    .courses .course .cours h1.javascript{
        font-size: 40px;
    }
}


@media screen and (max-width:300px){
    .nav{
        flex-direction: column;
    }
    #navul2{
        margin: auto;
    }
    .course .cours button{
        width: 13.5rem;
    }
    .courses .course .cours h1.javascript{
        font-size: 50px;
    }
}